@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 3px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size .5s ease-in-out;
	}

	.link-underline:hover {
		background-size: 100% 3px;
		background-position: 0 100%
	}

    .page-btn{
        @apply py-[10px] px-[20px] bg-white text-black mx-1
    }

    .page-btn:hover{
        @apply bg-slate-500 text-white
    }

    .agree-hover:hover{
        @apply bg-white text-black
    }

    .continue-btn:hover{
        @apply bg-black opacity-75 text-white
    }
}